extends layout

block content
  div.topnav
    a.active.top(href="/"  onclick="navigate(1)") Home 
    a.top(href="/resume" onclick ="navigate(2)") Resume
    a.top(href="/contact" onclick = "navigate(3)") Contact Me
  script(src="/javascripts/topnav.js")
  
  img.photo1(src="/images/portrait0.jpg" style="width:100%")
  img.photo2(src="/images/GradPic.jpg" style="width:100%")
  img.photo3(src="/images/dogSwing.jpg" style="width:100%")

  p.aboutMe I recently graduated from Oregon State University with a degree in computer science and I am actively looking for opportunities regarding Junior Developer roles. Currently I am based in Happy Valley, Oregon so I am open to a job that is based nearby or that I can work remotely from. If you think I would be a good fit at your company feel free to reach out to me at ravenlickey@gmail.com.
      p.inside The biggest and most interesting projects I have worked on up to this point include:
      p.inside -Working in a team of four to create a restful API for a school based website that included endpoints for both teachers, students, or admin to do things such as create classes, create assignment for those classes, create submissions for those assignments and many other endpoints regarding that kind of work. This API was connected to an SQL database to preserve the information.
      p.inside -Working in a team of two to create a VOIP phone service through AWS that could be called by a user to receive information regarding both of our names, how much money was left in our Student AWS account, and also say goodbye. The user would select 1 to hear our names and then be sent back to the main menu to hear the options, 2 to see how much money was left in our account and then be sent back to the main menu, and 3 to say goodbye and end the call.
      p.inside -Working in a team of four, I helped create an Android application we named ‘Banish Them!’ which allowed a user to search for the summoner names of League of Legends players and get that player’s top 5 champions with the highest mastery points from the Riot API.
      p.inside -For my senior capstone project I worked on a project called Art Game Preservation on a team of 8 to port 8 games from Actionscript 3 which built games that required adobe flash player to Gamemaker Studio 2 which could build games to HTML5. During Fall term we decided to get a feel for the project and practice making games using Actionscript 3 so we could familiarize ourselves with the code and the Flashpunk library. For Winter term we split into 4 teams of 2 and each team tackled one of the 8 games. Finally in Spring term we split into 4 different groups of 2 and tackled the next 4 games which were larger and more complicated than the first 4 we had ported.
