extends layout

block content
  div.slideshow-container(width ="400" height="200")
    div.mySlides.fade
      div.numbertext 1 / 5
      img(src="/images/portrait0.jpg" style="width:100%")
      div.text Face Shot 00

    div.mySlides.fade
      div.numbertext 2 / 5
      img(src="/images/portrait1.jpg" style="width:100%")
      div.text Face Shot 01

    div.mySlides.fade
      div.numbertext 3 / 5
      img(src="/images/dogArm.jpg" style="width:100%")
      div.text Holding Puppy

    div.mySlides.fade
      div.numbertext 4 / 5
      img(src="/images/dogShoulder.jpg" style="width:100%")
      div.text Shoulder Puppy

    div.mySlides.fade
      div.numbertext 5 / 5
      img(src="/images/dogSwing.jpg" style="width:100%")
      div.text Swinging Puppy
    
    a(class="prev" onclick="plusSlides(-1)") &#10094;
    a(class="next" onclick="plusSlides(1)") &#10095;

    div(style="text-align:center")
      span(class="dot" onclick="currentSlide(1)")
      span(class="dot" onclick="currentSlide(2)")
      span(class="dot" onclick="currentSlide(3)")
      span(class="dot" onclick="currentSlide(4)")
      span(class="dot" onclick="currentSlide(5)")

  script(src="/javascripts/slideshow.js")