extends layout

block content
    div.topnav
        a.top(href="/"  onclick="navigate(1)") Home 
        a.active.top(href="/resume" onclick ="navigate(2)") Resume
    script(src="/javascripts/topnav.js")
    div.resume
        iframe(src="/Raven Lickey Resume.pdf" width="95%" height="800px")